#ignore train and test images
core/test/
core/train/

#ignore PyCharm files
core/.idea/
core/__pycache__/
.idea/

#ignore logs
core/log/

#ignore package files
core/venv/

#ignore result files
*.index
*.meta
*.npy

#ignore model
currentModel